<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div>
        <h1>TG 48 xin kính gửi quý khách vé xem buổi công diễn mà quý khách đã mua</h1>

        <div style="display: flex; gap: 40px;">
            <img style="width: 200px; height: 200px;" src="https://document-export.canva.com/P9EbM/DAF3uMP9EbM/3/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20240130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240130T025642Z&X-Amz-Expires=54788&X-Amz-Signature=24165ca600004877f6a338da1088b14a7ea08418a02fa36b8b5b4ded90d05ba6&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2030%20Jan%202024%2018%3A09%3A50%20GMT" alt="">
            <img style="width: 200px; height: 200px;" src="https://tse2.mm.bing.net/th?id=OIP.GBPBygcg9IBI7EkGn6BYuwHaFu&pid=Api&P=0&h=180" alt="">
        </div>
    </div>
</div>


</body>
</html>