<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Product List</h1>
    <ul id="product-list"></ul>

    <script>
        $(document).ready(function(){
            $.ajax({
                url: '/api/products',
                method: 'GET',
                success: function(data) {
                    var productList = $('#product-list');
                    data.forEach(function(product) {
                        productList.append('<li>' + product.name + '</li>');
                    });
                }
            });
        });
    </script>
</body>
</html>