<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .reveal {
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 2s all ease;
    }

    .reveal.active {
      transform: translateY(0);
      opacity: 1;
    }
  </style>
</head>

<body>
  <section class="container">
    <div class="reveal">...</div>
    <div class="reveal">...</div>
    <!-- Thêm các phần tử khác -->
  </section>
  <script>
    function reveal() {
  const reveals = document.querySelectorAll(".reveal");
  // Xác định vị trí của phần tử và thêm lớp .active
  // khi nó vào tầm nhìn của người dùng.
}

  </script>
</body>

</html>