
/*menu*/
*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}

header{width:100%; display:table; background-color:#f9f9f7; margin-bottom:50px;}
#logo{float:left; font-size:24px; text-transform:uppercase; color:#002e5b; font-weight:600; padding:20px 0px;}
.navidol{width:auto; float:right;}
.navidol .ulidol{display:table; float:right;}
.navidol .ulidol .liidol{float:left;}
.navidol .ulidol .liidol:last-child{padding-right:0px;}
.navidol .ulidol .liidol .aidol{color:#002e5b; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
.navidol .ulidol .liidol .aidol:hover{background-color:#002e5b; color:#f9f9f7; transition: all 0.5s ease 0s;}
.navidol .ulidol .liidol .aidol:hover i{color:#f9f9f7; transition: all 0.5s ease 0s;}

.toggle-menu .ulidol{display:table; width:25px;}
.toggle-menu .ulidol .liidol{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu .ulidol .liidol:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}


@media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ .navidol {display:block;}

.navidol{display:none; position:absolute; right:0px; top:53px; background-color:#002e5b; padding:0px; z-index:99;}
.navidol .ulidol{width:auto;}
.navidol .ulidol .liidol{float:none; padding:0px; width:100%; display:table;}
.navidol .ulidol .liidol .aidol{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
}
.imgidol{
  width: 30px;
  height: 30px;
}



.spa1{
    color: orange;
}
.home{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
    display: flex;
}
.content{
    max-width: 50%;
    color: rgb(68, 60, 60);
}
.content .h21{
    font-size: 3em;
}
.content .h41{
    font-size: 2em;
}
.content .p1{
    padding: 10px 0 40px 0;
}
.grup-tombol .a1{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background: orange;
    border-radius: 10px;
    border: 2px solid orange;
    font-weight: 500;
    transition: .3s;
}
.grup-tombol .a1:hover:nth-child(1){
    color: orange;
    background: transparent;
}
.grup-tombol .a1:nth-child(2){
    color: orange;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.grup-tombol .a1:hover:nth-child(2){
    color: white;
    background: orange;
}
.sosmed{
    position: absolute;
    bottom: 50px;
}
.sosmed .a1{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 40px;
    outline: 3px solid orange;
    transition: .3s;
}
.sosmed .a1:hover{
    transform: translateY(-5px);
}
.sosmed .a1 .i1{
    color: rgb(68, 60, 60);
    font-size: 20px;
}

/*body1*/


/*container2*/
.container2{
    position: relative;
    max-width: 24em;
    margin-left: 50px;
    width: 100%;
    border-radius: 25px;
    padding: 1.4em;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.logo-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .img3{
        height: 3.5em;
        object-fit: cover;
    }

    & .i01{
        font-size: 1.8em;
        color: var(--gray);
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover{
            color: var(--black);
        }
    }
}

.main-images{
    position: relative;
    height: 12em;

    & .img3{
        position: absolute;
        width: 18em;
        height: 18em;
        object-fit: cover;
        left: 3em;
        top: -4em;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease;
    }

    & .img3.active2{
        opacity: 1;
    }
}
.info{
    margin-top: 50px;
}
.info{
    & .name{
        font-size: 2em;
        font-weight: 500;
        color: var(--black-2);
    }

    & .po4{
        font-size: 0.8em;
        font-weight: 400;
        color: var(--black);
    }

    & .stars .i01{
        font-size: 1em;
        margin: 0 -1px;
        color: var(--black);
    }
}

.color-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.color-option{
    display: flex;
    align-items: center;

    & .color{
        font-size: 1.2em;
        font-weight: 500;
        color: var(--black);
        margin-right: 0.3em;
    }

    & .circles{
        display: flex;
    }

    & .circle{
        height: 1em;
        width: 1em;
        background: var(--color);
        border-radius: 50%;
        margin: 0 0.3em;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    & .circle.active2{
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color);
    }
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & .price_num{
        font-size: 1.5em;
        font-weight: 600;
        color: var(--gray);
    }

    & .price_letter{
        font-size: 0.2em;
        font-weight: 600;
        margin-top: -1em;
        color: var(--gray);
    }
}

.add-cart{
    position: relative;
    height: 3em;
    width: 100%;
    border-radius: 25px;
    margin-top: 1em;
    overflow: hidden;

    & .button-layer{
        position: absolute;
        height: 100%;
        width: 300%;
        background-image: linear-gradient(135deg, #9708cc, #43cbff, #9708cc, #43cbff);
        transition: all 0.4s ease;
        border-radius: 25px;
        left: -100%;
    }

    &:hover .button-layer{
        left: 0;
    }
    & .buton{
        position: relative;
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--white);
    }
}
.ha6{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.bb{
    margin-top: 100px;
}

/*body2*/
.body4{
    height: 90vh;
    margin-top: 60px;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.main{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item{
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1), &:nth-child(2){
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }
    
    &:nth-child(3) { left: 50%; }
    
    &:nth-child(4) { left: calc(50% + 220px); }
    
    &:nth-child(5) { left: calc(50% + 440px); }
    
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content3{
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    margin-left: 250px;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;


    & .title2{
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description{
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & .buton{
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content3{
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show{
    0%{
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

.nav{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn2{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content3{
        & .title2 {font-size: 1rem;}
        & .description {font-size: 0.7rem;}
        & .buton {font-size: 0.7rem;}
    }
    .item{
        width: 160px;
        height: 270px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 170px);}
        &:nth-child(5) { left: calc(50% + 340px);}
        &:nth-child(6) { left: calc(50% + 510px); opacity: 0;}
    }
}

@media (width < 650px){
    .content3{
        & .title2   {font-size: 0.9rem;}
        & .description {font-size: 0.65rem;}
        & .buton    {font-size: 0.7rem;}
    }
    .item{
        width: 130px;
        height: 220px;

        &:nth-child(3) {left: 50%;}
        &:nth-child(4) {left: calc(50% + 140px);}
        &:nth-child(5) {left: calc(50% + 280px);}
        &:nth-child(6) {left: calc(50% + 420px); opacity: 0;}
    }
}
.h11{
    text-align: center;
    font-size: 50px;
}
/*body3*/
.body3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.container3{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.container3 .box{
    position: relative;
    width: 425px;
    height: 310px;
}
.container3 .box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container3 .box .videoBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container3 .box .contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 11, 36, 0.95);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
.container3 .box:hover .contentBx{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.container3 .box .contentBx .content4{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}
.container3 .box:hover .contentBx .content4{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container3 .box .contentBx .content4 .h23{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.container3 .box .contentBx .content4 .p3{
    color: #fff;
    font-weight: 300;
}
/*body1*/
.body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-size: cover;
}
.ula {
    padding: 0;
    position: relative;
    width: 100%;
    margin: 10px 10px 30px;
}
.ula .lia {
    list-style: none;
    float: left;
    padding: 10px 20px;
    color: #fff;
    background: #0d9ed5;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.ula .lia:hover,
.active {
    background-color: #0072c2;
    color: #FFF;
}
.container {
    padding: 0 30px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}
.container .boxa1 {
    width: 23%;
    height: 400px;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-family: arial;
    font-size: 1.2em;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
}
.container .boxa1 .imga {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    position: relative;
}
div.boxa1>div.cont_tapa {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}
div.boxa1:hover>div.cont_tapa {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    top: 0;
    visibility: visible;
    opacity: 1;
}

/*body6*/
:root {
    --card-largura: 200px;
    --card-altura: 300px;
    --card-duracao-transicao: 800ms;
    --card-transicao-tipo-saida: ease;
  }
.body6{
    width: 100%;
    height: 100vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.787);
    overflow: hidden;
}
button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    border: none;
  }
  
  .conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteudo__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
    overflow: hidden;
  }
  .conteudo__background::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #a3a2a2;
    z-index: 1;
    opacity: 0.8;
  }
  .conteudo__backgorund__imagem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 100%;
    height: 100%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  .conteudo__backgorund__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .conteudo__backgorund__imagem.imagem--corrente {
    opacity: 1;
    --image-translate-offset: 0;
  }
  .conteudo__backgorund__imagem.imagem--anterior,
  .conteudo__backgorund__imagem.imagem--proxima {
    opacity: 0;
  }
  .conteudo__backgorund__imagem.imagem--anterior {
    --image-translate-offset: -25%;
  }
  .conteudo__backgorund__imagem.imagem--proxima {
    --image-translate-offset: 25%;
  }
  
  .lista__cards {
    position: absolute;
    width: calc(3 * var(--card-largura));
    height: auto;
  }
  .lista__cards__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .lista__cards__btn.btn-esquerda {
    left: -5%;
  }
  .lista__cards__btn.btn--direita {
    right: -5%;
  }
  .lista__cards__btn .icone {
    width: 100%;
    height: 100%;
  }
  .lista__cards__btn .icone svg {
    width: 100%;
    height: 100%;
  }
  .lista__cards .conteudo__cards {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
      translateY(var(--card-translateY-offset))
      rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-largura);
    height: var(--card-altura);
    transition: transform var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
    user-select: none;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #858484;
    z-index: 1;
    transition: opacity var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
    opacity: calc(1 - var(--opacity));
  }
  .imagem--card {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .imagem--card img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card.card--corrente {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
  }
  .card.card--anterior {
    --card-translateX-offset: calc(-1 * var(--card-largura) * 1.1);
    --card-rotation-offset: 25deg;
  }
  .card.card--proximo {
    --card-translateX-offset: calc(var(--card-largura) * 1.1);
    --card-rotation-offset: -25deg;
  }
  .card.card--anterior,
  .card.card--proximo {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .listagem__informacoes {
    position: absolute;
    width: calc(3 * var(--card-largura));
    height: var(--card-altura);
    pointer-events: none;
  }
  .listagem__informacoes .conteudo__informacoes {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-altura) / 8);
    margin-left: calc(var(--card-largura) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-duracao-transicao)
      var(--card-transicao-tipo-saida);
  }
  .info .texto {
    position: relative;
    font-family: "Poppins";
    font-size: calc(var(--card-largura) * var(--texto-size-offset, 0.2));
    white-space: nowrap;
    color: #fff;
    width: fit-content;
  }
  .info .nome,
  .info .localizacao {
    texto-transform: uppercase;
  }
  .info .localizacao {
    font-weight: 800;
  }
  .info .localizacao {
    --mg-left: 40px;
    --texto-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg r-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
  }
  .info .localizacao::before,
  .info .localizacao::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .localizacao::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }
  .info .descricao {
    --texto-size-offset: 0.065;
    font-weight: 500;
  }
  .info.informacoes__corrente {
    opacity: 1;
    display: block;
  }
  .info.informacoes__anterior,
  .info.informacoes__seguinte {
    opacity: 0;
    display: none;
  }
  
  .conteudo__carregamento {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
  }
  
  .conteudo__carregamento .carregamento {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid #009739;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-largura: 250px;
      --card-altura: 400px;
    }
  }



  /*slideshow*/

.slides{
    position: relative;
    overflow: hidden;
    height: 650px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: slide-show
    12s infinite;
}
.slide--2{
    animation-delay: 4s;
}
.slide--3{
    animation-delay: 8s;
}
.slide_image{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@keyframes slide-show{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%,
    30%{
        opacity: 1;
        scale: 1.05;
    }
    50%{
        opacity: 0;
    }
}


  /*body2*/
.body2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h31{
    text-align: center;
}
.iia{
    margin-left: 50px;
    width: 1000px;
}
  .idol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }